*{
    margin: 0;
    padding: 0;
    font-family: "Nekro One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    width: 1920;
    height: 1080;
}

header{
    background-color: orange;
    text-align: center;
}

.container{
    background-color: #1d1d1d;
    color: #fff;
}

.form label{
    text-align: left;
    width: 250px;
    display: inline-block;
    text-indent: 10px;
    margin: 10px;
    height: 100%;
}

.form input{
    display: inline-block;
}

footer{
    background-color: orange;
    text-align: center;
}

.cancel{
    background-color: red;
    color: #fff;
}

button{
    border: 3px solid #000;
    border-radius: 4px;
}

#submit{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
#button:hover {background-color: #3e8e41}

#button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#cancel{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ff0000;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}